@using DevExpress.XtraReports.Serialization
@model KEKChat.Models.EditUserModel
@{
    ViewBag.Title = "EditUserView";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/EditUser.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LoginForm.css" rel="stylesheet" type="text/css" />
}

@section PartialScript
{
    @Html.Partial("_Scripts")
    <script>
        function loadInventory() {
            $.ajax(
                {
                    url: "@Url.Action("GetInventory", "Home", new { view = "Dashboard" })",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".memes").html(result);
            });
        }
    </script>
}

<div class="form-parent-div">
    <h3 class="login-title">@language_strings.EditUserFormTitle</h3>
    <div class="login-div">
        @using (Html.BeginForm("UpdateUserInfo", "Administration", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.UserID)
            @Html.LabelFor(model => model.Username)
            <br>
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-error" })
            <hr>
            @Html.LabelFor(model => model.Currency)
            <br>
            @Html.EditorFor(model => model.Currency)
            <hr>
            @Html.LabelFor(model => model.Email)
            <br>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email.EmailName, null, new { @class = "text-error" })
            <hr>
            @Html.LabelFor(model => model.Privileged) @Html.Raw(" ") @Html.EditorFor(model => model.Privileged)
            <hr>
            @Html.LabelFor(model => model.Password)
            <br>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-error" })
            <hr>
            @Html.LabelFor(model => model.ConfirmPassword)
            <br>
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-error" })
            <br>
            <button type="submit" class="login-button">@language_strings.EditUserButtonText</button>
        }
    </div>
</div>


