<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Registration Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login,register">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.0.0.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/GeneralLayout.css" rel="stylesheet" type="text/css" />
    @RenderSection("CustomCss", false)
    <link rel="icon" type="image/png" href="~/pepe.png" />
</head>
<body>
    <script>
        $(window).on("beforeunload", function () {
            $.ajax(
            {
                url: "@Url.Action("UpdateUserStatus", "Account")",
                data: { 'isOnline' : false, "username" : "@User.Identity.Name" },
                type: 'POST',
                dataType: 'html'
            }
            );
        });

        $(document).ready(function () {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);

            $(".main-parent").height($(window).height() - $(".nav").outerHeight());
        }).resize();

        $(window).resize(function () {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);

            $(".main-parent").height($(window).height() - $(".nav").outerHeight());
        }).resize();
    </script>
    <ul class="nav navbar nav-pills nav-justified bg-success p-1">
        <li class="nav-item">
            @Html.ActionLink("Home", "Home", null, new { @class = "nav-link text-light" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Chat", "Chat", null, new { @class = "nav-link  text-light" })
        </li>
        <li class="nav-item active">
            @Html.ActionLink("Store", "StoreInit", null, new { @class = "nav-link  text-light" })
        </li>
        <li class="navbar-text nav-item">
            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                <li class="username nav-item m-1">@User.Identity.Name</li>
                <li class="nav-item m-1">@Html.ActionLink("Sign out", "SignOut", "Account", null, new { @class = "signout" })</li>
                <li class="keks nav-item  m-1">@Html.Raw(Session["currency"]) KEKs</li>
            </ul>
        </li>
    </ul>
    <div class="main-parent row m-0">
        <div class="main-left col-9 col-xl-10 p-0">
            @RenderBody()
        </div>
        <div class="main-right col-3 col-xl-2 p-0">
            @RenderSection("SideBar")
        </div>
    </div>
</body>
</html>
