<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Registration Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login,register">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/GeneralLayout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="~/pepe.png" />
</head>
<body>
    <div class="top-parent">
        <div class="top-section top-left">
            @Html.ActionLink("Home", "Home")
        </div>
        <div class="top-section top-left">
            @Html.ActionLink("Chat", "Chat")
        </div>
        <div class="top-section top-left">
            @Html.ActionLink("Store", "StoreLoadAsync")
        </div>
        <div class="top-section top-right">
            <p class="username">@User.Identity.Name</p>
            @Html.ActionLink("Sign out", "SignOut", "Account", null, new { @class = "sign-out"})
            <p class="keks">@Html.Raw(Session["currency"]) KEKs</p>
        </div>
    </div>
    <div class="main-parent">
        <div class="main-left">
            @RenderSection("MainSection")
        </div>
        <div class="main-right">
        </div>
    </div>

    @{ RenderBody(); }
</body>
</html>
