@model KEKChat.Models.LoginModel
<!DOCTYPE html>

<html>
<head>
    <title>KEKChat Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="Login Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LoginForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-parent-div">
        <h3 class="login-title">Login</h3>
        <div class="login-div">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
             {
                <br>
                <p class="center-text"><b>Username:</b></p>
                @Html.EditorFor(model => model.Username,
                 new { htmlAttributes = new { @class = "login-input", placeholder = "Username" } })
                <br><br>
                <p class="center-text"><b>Password:</b></p>
                @Html.EditorFor(model => model.Password,
                 new { htmlAttributes = new { @class = "login-input", placeholder = "Password" } })
                <ul>
                    <li style="color:red; display: @Html.Raw(TempData["loginfailDisplay"]).ToString();">
                        Invalid username and/or password.
                    </li>
                </ul>
                <button type="submit" runat="server" class="login-button">Login</button>
                <p class="center-text"><b>Not registered?</b> @Html.ActionLink("Register.", "Register")</p>
             }
        </div>
    </div>

    @{ RenderBody(); }
</body>
</html>
