@model KEKChat.Models.InventoryModel

@{
<script>
        function loadInventory() {
            $.ajax(
            {
                url: "@Url.Action("GetInventory", "Home")",
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                        $(".memes").html(result);
                }
            }
            );
        }
        
        $(".card, .col-sm-5").click(
            function (event) {
                $.ajax(
                    {
                        url: "@Url.Action("SendMeme", "Home")",
                        data: { 'memeID': $(this).attr("value") },
                        type: 'POST',
                        dataType: 'html',
                        success: function (result) {
                            loadInventory();
                        },
                        error: function (result) {
                            alert("error");
                        }
                    }
                );
            }
        );
</script>

    <div class="row col-12 p-0 m-0 justify-content-center align-content-center">
    @foreach (var asset in Model.InventoryList)
    {
        <div class="card col-12 col-sm-5 bg-card-soap m-1" value="@asset.MemeEntry.ID">
            <img src="~/@asset.MemeEntry.ImagePath.Replace('\\', '/')" class="card-img" />
            <div class="card-footer h-100">
                <div class="row">
                    <div class="col-sm-12 col-6">
                        Name: <br>
                        @asset.AssetName
                    </div>
                    <div class="col-sm-12 col-6">
                        Amount: <br>
                        @asset.Amount
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
}
