@model KEKChat.Models.MessageTextModel
@{
    ViewBag.Title = "KEKChat";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
}

@section PartialScript
{
    <script>
        $(document).ready(function () {
            var activeTab = $(".side-tab-left");
            var otherTab = $(".side-tab-right");

            activeTab.css("border-bottom", "0");
            otherTab.css("border-bottom", "2px solid");

            var activeContent = $(".people");
            var otherContent = $(".memes");

            activeContent.css("display", "block");
            otherContent.css("display", "none");

            activeTab.css("border-bottom", "none");
            console.log("ready");

            $(".side-tab").click(function (event) {
                if (this === otherTab.get(0)) {
                    activeContent.css("display", "none");
                    otherContent.css("display", "block");

                    var temp = activeTab;
                    activeTab = otherTab;
                    otherTab = temp;

                    activeTab.css({ "border-bottom": "0", "background-color": "#FFFD83" });
                    otherTab.css({ "border-bottom": "2px solid", "background-color": "#EFED73" });

                    var tempC = activeContent;
                    activeContent = otherContent;
                    otherContent = tempC;
                }
            }
            );

            loadInventory();
            loadPeople();
            loadPartialView();
            //window.setInterval(loadPartialView, 200);
            window.setInterval(loadPeople, 5000);
        });

        function loadInventory() {
            $.ajax(
                {
                    url: "@Url.Action("GetInventory", "Home", new { view = "Chat" })",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".memes").html(result);
            });
        }

        function loadPeople() {
            $.ajax(
                {
                    url: "@Url.Action("GetPeople", "Home")",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".people").html(result);
            });
        }

        var messageCount = 0;

        function loadPartialView() {
            var lastID = $("#chatView").children().last().attr("id");
            //console.log(lastID);
            if (lastID == null) lastID = 0;

            $.ajax(
                {
                    url: "@Url.Action("GetMessages", "Home")",
                    type: 'POST',
                    dataType: 'html',
                    data: { "lastMessageID": lastID }
                }
            ).done(function (result)
            {
                $('#chatView').append(result);

                if (document.getElementById("chatView").childElementCount > messageCount) {
                    var element = document.getElementById("chatView");
                    element.scrollTop = element.scrollHeight;
                }

                messageCount = document.getElementById("chatView").childElementCount;

                setTimeout(loadPartialView(), 0);
            });
        }

        document.getElementById('textArea').addEventListener('keydown', function (event) {
            if (event.which === 13 && event.shiftKey) {
                return false;
            }
            else if (event.which === 13) {
                event.preventDefault();
                var lastID = $("#chatView").children().last().attr("id");
                if (lastID == null) lastID = 0;

                $.ajax(
                    {
                        url: "@Url.Action("SendMessage", "Home")",
                        data: {
                            'msg': $('#textArea').val()
                        },
                        type: 'POST',
                        dataType: 'html'
                    }
                ).done(function ()
                {
                    $('#textArea').val("");
                });

                return true;
            }
        });

        $("#sendButton").not(".bound-click").addClass("bound-click").click(function (event) {
            event.preventDefault();

            var lastID = $("#chatView").children().last().attr("id");
            if (lastID == null) lastID = 0;

                $.ajax(
                    {
                        url: "@Url.Action("SendMessage", "Home")",
                        data: {
                            'msg': $('#textArea').val()
                        },
                        type: 'POST',
                        dataType: 'html'
                    }
                ).done(function ()
                {
                    $('#textArea').val("");
                });
            }
        );
    </script>
}

@section SideBar{

    <div class="row tab-row m-0">
        <div class="col-6 p-0 m-0 text-center side-tab side-tab-left nav-link text-oceanblue" id="peopleList">
            People
        </div>
        <div class="col-6 p-0 m-0 text-center side-tab side-tab-right nav-link text-oceanblue">
            Memes
        </div>
    </div>
    <div class="row content-row m-0">
        <div class="people h-100">
        </div>
        <div class="memes h-100">
        </div>
    </div>
}

<div class="chat bg-soap" id="chatView">
    
</div>

<div class="chatbox bg-amazonite" id="chatBox">
    <form class="bg-amazonite" style="height:100%;" id="MainForm">
        <textarea class ="chat-input bg-soap" autofocus="" id="textArea" maxlength="1000"></textarea>
        <button type="submit" runat="server" class="message-button btn bg-bleu p-0" id="sendButton">Send</button>
    </form>
</div>